.container{
  display: flex;
  justify-content: center;
  align-content: center;
}
.employee-card{
  width:200px;
  background-color: bisque;
  border-radius: 5px;
  margin-top: 30px;
}
.employee-img{
  text-align: center;
}
.employee-img img{
  margin:10px;
}
.employee-name{
  margin: 0 0 0 20px;
}

.employee-name h2{
  color: #123654;
}
.employee-data{
  border-radius: 3px;
  margin:5px;
  background-color:#abbbab;
  margin: 10px 20px;
  border-radius: 5px;
}